/* Gallery Styling */

#container {
  padding-left: 5.8px;
  display: block;
  margin: 0 auto;
  max-width: 980px;
  font-size: 0;
  text-align: justify;

}



#container .mix,
#container .gap {
  display: inline-block;
  margin-bottom: 55px;
  width: 21%;

}

#container:after{
  content: '';
  display: inline-block;
  width: 100%;
}

#container .mix {
  text-align: left;
  background: white;
  /*background: #03899c;*/
  /*margin-bottom: 2%;*/
  display: none;
}

#container .mix:before{
  content: '';
  display: inline-block;
  padding-top: 60%;
}
